.omavari{
    background-color: #7666F2 !important;
}

body{
    background-color: aliceblue;
}

.carousel-item{
    object-fit: contain;
}

.w-100 {
    margin-top: 20px;
    width: 100% !important;
    height: 75vh;
    object-fit: contain;
  }


.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}

#description{
    text-align: center;
    font-size: 2em;
}