*{
    font-family: 'Courier New', Courier, monospace;
}

.omavari{
    background-color: #5986D9!important;
}

body{
    background-color: #AEBFDF;
    width: 100%;
}

.carousel-item{
    object-fit: contain;
}

.w-100 {
    margin-top: 20px;
    width: 100% !important;
    height: 75vh;
    object-fit: contain;
  }


.carousel-control-next, .carousel-control-prev{
    filter: invert(100%);
}

#description{
    text-align: center;
    font-size: 2em;
}

#navlinkki{
    padding: 5px;
}
#navlinkki:hover{
    background-color: aliceblue !important;
    padding: 5px;
    border-radius: 10px;
}


